@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 6
   Case Problem 2

   Sudoku Style Sheet
   Author: Jacob West
   Date:   02/10/2020

   Filename:         jpf_sudoku.css

*/

/* Table Styles */

table.spuzzle {
    border-collapse: collapse;
    margin: 0px auto 0px auto;
    width: 90%;
}

td {
    border: 5px outset gray;
    width: 33.3%;
}

th {
    color: gray;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* Inner Table Styles */

table.subtable {
    border-collapse: collapse;
    width: 100%;
}

table.subtable td {
    box-shadow: 0px 0px 15px inset;
    border: 1px solid black;
    color: blue;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}

td.goldBox  td {
    background-color: rgb(228,199,42);
}

td.greenBox td {
    background-color: rgb(203,229,130);
}
